streamlit
requests
beautifulsoup4
google-search-results
groq
python-dotenv
langchain
langchain-community
html2text
wikipedia
spacy
aiohttp
fpdf2
asyncio
typing
urllib3
psycopg2-binary
python-dateutil
pandas
numpy
psycopg2-binary>=2.9.9
python-dotenv>=1.0.0
streamlit>=1.24.0
groq>=0.3.0
supabase==2.3.0